Service References/PersonRegistry/PersonRegistry.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonRegistry" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IPersonRegistry_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://pc-078.nhn.local/Gondor.Query.REST.WS/HL7/PersonRegistry.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://pc-078.nhn.local/Gondor.Query.REST.WS/HL7/PersonRegistry.svc?xsd=xsd1" namespace="urn:hl7-org:v3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonRegistry_FindCandidates_InputMessage">
    <wsdl:part name="parameters" element="tns:FindCandidates" />
  </wsdl:message>
  <wsdl:message name="IPersonRegistry_FindCandidates_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindCandidatesResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonRegistry_GetDemographics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDemographics" />
  </wsdl:message>
  <wsdl:message name="IPersonRegistry_GetDemographics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDemographicsResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonRegistry_AddPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPerson" />
  </wsdl:message>
  <wsdl:message name="IPersonRegistry_AddPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonRegistry_RecordRevised_InputMessage">
    <wsdl:part name="parameters" element="tns:RecordRevised" />
  </wsdl:message>
  <wsdl:message name="IPersonRegistry_RecordRevised_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecordRevisedResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonRegistry_LinkPersonRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:LinkPersonRecords" />
  </wsdl:message>
  <wsdl:message name="IPersonRegistry_LinkPersonRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:LinkPersonRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonRegistry_UnlinkPersonRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:UnlinkPersonRecords" />
  </wsdl:message>
  <wsdl:message name="IPersonRegistry_UnlinkPersonRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnlinkPersonRecordsResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonRegistry">
    <wsdl:operation name="FindCandidates">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonRegistry/FindCandidates" message="tns:IPersonRegistry_FindCandidates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonRegistry/FindCandidatesResponse" message="tns:IPersonRegistry_FindCandidates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDemographics">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonRegistry/GetDemographics" message="tns:IPersonRegistry_GetDemographics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonRegistry/GetDemographicsResponse" message="tns:IPersonRegistry_GetDemographics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonRegistry/AddPerson" message="tns:IPersonRegistry_AddPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonRegistry/AddPersonResponse" message="tns:IPersonRegistry_AddPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecordRevised">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonRegistry/RecordRevised" message="tns:IPersonRegistry_RecordRevised_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonRegistry/RecordRevisedResponse" message="tns:IPersonRegistry_RecordRevised_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LinkPersonRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonRegistry/LinkPersonRecords" message="tns:IPersonRegistry_LinkPersonRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonRegistry/LinkPersonRecordsResponse" message="tns:IPersonRegistry_LinkPersonRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnlinkPersonRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonRegistry/UnlinkPersonRecords" message="tns:IPersonRegistry_UnlinkPersonRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonRegistry/UnlinkPersonRecordsResponse" message="tns:IPersonRegistry_UnlinkPersonRecords_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IPersonRegistry" type="tns:IPersonRegistry">
    <wsp:PolicyReference URI="#WSHttpBinding_IPersonRegistry_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindCandidates">
      <soap12:operation soapAction="http://tempuri.org/IPersonRegistry/FindCandidates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDemographics">
      <soap12:operation soapAction="http://tempuri.org/IPersonRegistry/GetDemographics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <soap12:operation soapAction="http://tempuri.org/IPersonRegistry/AddPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordRevised">
      <soap12:operation soapAction="http://tempuri.org/IPersonRegistry/RecordRevised" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LinkPersonRecords">
      <soap12:operation soapAction="http://tempuri.org/IPersonRegistry/LinkPersonRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlinkPersonRecords">
      <soap12:operation soapAction="http://tempuri.org/IPersonRegistry/UnlinkPersonRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonRegistry">
    <wsdl:port name="WSHttpBinding_IPersonRegistry" binding="tns:WSHttpBinding_IPersonRegistry">
      <soap12:address location="https://pc-078.nhn.local/Gondor.Query.REST.WS/HL7/PersonRegistry.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://pc-078.nhn.local/Gondor.Query.REST.WS/HL7/PersonRegistry.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>pc-078.nhn.local</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>